<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_ExpressShipping>
            <version>1.0.1</version>
        </MageProfis_ExpressShipping>
    </modules>
    <global>
        <models>
            <mageprofis_expressshipping>
                <class>MageProfis_ExpressShipping_Model</class>
            </mageprofis_expressshipping>
            <shipping>
                <rewrite>
                    <shipping>MageProfis_ExpressShipping_Model_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
        <helpers>
            <mageprofis_expressshipping>
                <class>MageProfis_ExpressShipping_Helper</class>
            </mageprofis_expressshipping>
        </helpers>
        <resources>
            <expressshipping_setup>
                <setup>
                    <module>MageProfis_ExpressShipping</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </expressshipping_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <mageprofis_expressshipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>mageprofis_expressshipping/carrier</model>
                <title>Express-Versand</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <default_title>Werktags (Zustellung Di., Mi., Do., Fr.)</default_title>
                <price>14.00</price>
                <show_default_always>0</show_default_always>
                <time_based_price><![CDATA[5-5/0:00-15:00/24.00/Samstagszustellung
5-5/15:01-24:00/14.00/Werktags (Zustellung am Dienstag)
6-7/0:00-24:00/14.00/Werktags (Zustellung am Dienstag)]]></time_based_price>
            </mageprofis_expressshipping>
        </carriers>
    </default>
    <frontend>
        <translate>
            <modules>
                <MageProfis_ExpressShipping>
                    <files>
                        <default>MageProfis_ExpressShipping.csv</default>
                    </files>
                </MageProfis_ExpressShipping>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <MageProfis_ExpressShipping>
                    <files>
                        <default>MageProfis_ExpressShipping.csv</default>
                    </files>
                </MageProfis_ExpressShipping>
            </modules>
        </translate>
    </adminhtml>
</config>